@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473574900'); /* IE9*/
  src: url('iconfont.eot?t=1473574900#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473574900') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473574900') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473574900#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lianjie:before { content: "\e619"; }
.icon-101:before { content: "\e612"; }
.icon-yidu:before { content: "\e603"; }
.icon-weiduhuitie:before { content: "\e68e"; }
.icon-zuire:before { content: "\e664"; }
.icon-zuixinshijian:before { content: "\e63e"; }

.m-b-3 {
  margin-bottom: 3rem;
}

.p-l-1 {
  padding-left: 1rem;
}

.p-r-1 {
  padding-right: 1rem;
}

body {
  /*font-size: 16px;*/
  
}

.stories {
  background: #f2f2f2;
  width: 95%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  /*height: 300px;*/
  margin: 1rem;
  position: relative;
  width: 95%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  border-left: 4px solid #98E2FA;
}

.card.read {
  border-left: 4px solid #CDFCBD;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h6 {
  font-size: 1.8rem;
}

.nav {
  width: 95%;
}

.nav-tabs a {
  font-size: 1.5rem;
}